
/* importar estilos*/

/* Base Styles */
@import url('./base/_variables.css');
@import url('./base/_base.css');

/* Layout Styles */
@import url('./layout/_navigation.css');

/* Component Styles */
@import url('./components/_buttons.css');
@import url('./components/_forms.css');
@import url('./components/_modals.css');
@import url('./components/_cards.css');
@import url('./components/_admin-access.css');

/* Utility Styles */
@import url('./utilities/_animations.css');
@import url('./utilities/_utilities.css');