/* Reset CSS */


input, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}
